@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --couleur-texte: #161f15;
  --couleur-texte-hover: #536c50;
  --foreground-rgb: 239, 243, 248;
  --background-start-rgb: 239, 243, 248;
  --background-end-rgb: 239, 243, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 217, 217, 217;
    --background-start-rgb: 217, 217, 217;
    --background-end-rgb: 217, 217, 217;
  }
}

body {
  color: var(--couleur-texte);
  background: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer components {
  .active {
    color: var(--couleur-texte-hover);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
