@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: hsl(55, 87%, 97%);
    --secondary-color: hsl(58, 95%, 84%);
    --text-color: hsl(180, 56%, 9%);
    --text-color-dark-mode: hsl(0, 0%, 95%);
    
  }

  /* //theme dark toggle */
  :root .dark{ 
    --main-color: hsl(240, 3%, 11%);
    --secondary-color: hsl(60, 2%, 38%);
    --text-color: hsl(180, 6%, 62%);

    --text-color-dark-mode: hsl(0, 0%, 95%);
  }
}

@layer components {
}

@layer utilities {
}
